# ========================
# Ignored Files
# ========================
etvenv/

# ========================
# Resource Files
# ========================
data


# ========================
# Environment Variables
# ========================
.env


# ========================
# Cache Files
# ========================
__pycache__


# ========================
# Sessions
# ========================
session_name.session