# ========================
# Ignored Files
# ========================
etvenv/

# ========================
# Resource Files
# ========================
data


# ========================
# Environment Variables
# ========================
.env